
<!-- INICIO FOOTER -->

<footer >
  <div class="card text-center">
    <div class="card-header">
      Todos los Derechos Reservados Pedro Navarro 2023,
      correo:pedronavarro16@gmail.com
    </div>
    <div class="card-body" style="background-color: rgba(41,41,41,0.5) ; color: #efefef" ;>
      <h5 class="card-title">Gracias por acompañarnos en la aventura de explorar en los libros</h5>
      <p class="card-text">Recuerda dejarnos tu comentarios sobre tu ultimo libro leido.</p>
      <a href="#" class="btn btn-primary">Ir Arriba</a>
    </div>
    <div class="card-footer text-muted">
      Blog de noticias sobre libros, wasap de contacto +56-949369848 web master: Pedro navarro.
    </div>
  </div>
  </footer>
  <!-- FIN FOOTER -->

