<main>
  <div id="carousel" class="carousel slide">
    <div class="carousel-inner" style="height: 400px;">
      <div class="carousel-item active">
        <img src="/imagenes/1.jpeg" class="d-flex w-100 mr-auto ml-auto" alt="...">
      </div>
     
    </div>
 
  </div>

  <div id="productos" class="container">
    <div class="row">
      <!-- Seccion donde se cargara el listado de productos del sitio -->
    </div>
  </div>
</main>