
      <div class="d-flex justify-content-center">
        <img
          src="/public/img/login-icon.svg"
          alt="login-icon"
          style="height: 7rem"
        />
        
      </div>


      <section id="login" style="background-color: rgba(41,41,41,0.5) ; color: #efefef ;">
        <h2 class="text-center my-5">Libreria la mundial</h2>
            <form action="" id="formLogin">
            <p align="center">Email:   <input type="email" class="from-control" id="loginEmail" required></p>
            <p align="center">Password:  <input type="password" class="from-control" id="loginPassword" required></p>

            <div class="text-center" >     
              <button type="submit" align="center" class="btn btn-primary btn-sm">Loguear</button>
             
              <button type="reset" align="center" class="btn btn-secondary btn-sm">Limpiar</button> 
            </div>   

            
                
        </form>
        
      </section>


{{!-- 
<form action="" id="formLogin">
    Email: <input type="email" class="from-control" id="loginEmail" required>
    Password: <input type="password" class="from-control" id="loginPassword" required>
    <button type="submit" class="btn btn-primary">Login</button>
</form> --}}


<script>

    let formLogin = document.getElementById("formLogin");

    formLogin.addEventListener("submit", (event) => {
        event.preventDefault();

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
        "email": loginEmail.value,
        "password": loginPassword.value
        });

        var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
        };

        fetch("/api/v1/login", requestOptions)
        .then(response => response.json())
        .then(result => {
            if(result.code == 200){
                alert("Usuario autenticado con éxito.")
                localStorage.setItem("jwt", result.token)
                location.href = "/";
            }else if(result.code == 401){
                alert(result.message)
            }else{
                alert("Login fallido.")
            }
        })
        .catch(error => console.log('error', error));
    })
</script>




    <script
      src="https://kit.fontawesome.com/4555f38c69.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="./assets/js/login.js"></script>
  </body>
